on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

name: release-please

jobs:
  release-please:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.GITHUB_TOKEN }}
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: node
      # The logic below handles the npm publication:
      - name: Checkout Git repository
        uses: actions/checkout@v6
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
      - name: Enable Corepack
        # Required due to a limitation in setup-node https://github.com/actions/setup-node/issues/480#issuecomment-1820622085
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
        if: ${{ steps.release.outputs.release_created }}
      - name: Install dependencies with Yarn
        run: yarn --immutable
        if: ${{ steps.release.outputs.release_created }}
      - name: Test
        run: yarn test
        if: ${{ steps.release.outputs.release_created }}
      - name: Build
        run: yarn build
        if: ${{ steps.release.outputs.release_created }}
      - name: Generate TypeScript declaration rollup
        run: yarn run validate-api
        if: ${{ steps.release.outputs.release_created }}
      - name: Publish
        run: npm publish
        if: ${{ steps.release.outputs.release_created }}
